useDynLib(snnR,.registration = TRUE)
importFrom("stats", "rnorm", "runif")
export()
export(initw)
export(normalize)
export(un_normalize)
export(optimization_L1)
export(snnR)
export(snnR_extended)
export(SimData)
export(write.NeuralNetTools)
export(print.snnR, predict.snnR, print.snnR_extended,predict.snnR_extended)
S3method(print, snnR)
S3method(print, snnR_extended)
S3method(predict, snnR)
S3method(predict, snnR_extended)

